p,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.todo {
  border: 1px solid gray;
  padding: 1rem 3rem;
  margin: 0.5rem 0;
}

.todo-delete {
  cursor: pointer;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  margin: 0.125rem;
  padding: 0.5rem;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
